/*
@font-face {
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    src: url("/FormKit/Public/Fonts/entypo.eot?#iefix") format("embedded-opentype"), 
        url("/FormKit/Public/Fonts/entypo.woff") format("woff"), 
        url("/FormKit/Public/Fonts/entypo.ttf") format("truetype"), 
        url("/FormKit/Public/Fonts/entypo.svg#entypo") format("svg");
}*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
    cursor: default;
}

html,
body {
    overflow: hidden;
}

body {
    /*background: #222;*/
    background-color: #e8e8e9;
    /*font: 12px/1,*/ 
    /*font-size: 12px;*/
    font-family: Lato, 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.abs {
    position: absolute !important;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.ui-resizable-se {
    background: url(../images/gui/window_corner.gif) no-repeat right bottom;
    font-size: 0;
    overflow: hidden;
    width: 15px;
    height: 15px;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

div.ui-resizable-handle {
    display: none !important;
    visibility: hidden !important;
}

/* `Icons
----------------------------------------------------------------------------------------------------*/

.icon {
    background: url(../images/gui/trans_white.png) no-repeat -99999px -99999px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.3;
    padding: 6px 1px 6px;
    text-align: center;
    text-shadow: #000 0 1px 2px;
    width: 80px;
}

.icon.active {
    background: url(../images/gui/trans_black.png);
}

.icon img {
    background: url(../images/gui/trans_black.png) no-repeat -99999px -99999px;
    display: block;
    margin: 0 auto 5px;
    width: 32px;
    height: 32px;
}

.icon:hover,
.icon.ui-draggable-dragging {
    background-position: 0 0;
    background-repeat: repeat;
    border: 1px solid #fff;
    padding: 5px 0 5px;
}

.icon.ui-draggable-dragging {
    z-index: 20;
}

/* `Windows
----------------------------------------------------------------------------------------------------*/

.window {
    /*    background: #fff;
        border: 1px solid #000;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -webkit-background-clip: padding-box;*/
    color: #000;
    display: none;
    width: 700px;
    height: 300px;
    top: 10px;
    left: 10px;
    z-index: 2;

    /*    background: inherit;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 6px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);*/

    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.window.window_stack,
.window.ui-draggable-dragging {
    z-index: 10;
}

.window.ui-draggable-dragging {
    opacity: 0.5;
}

.window.ui-draggable-dragging .window_content,
.window.ui-draggable-dragging .window_bottom {
    display: none;
}

.window_full.ui-draggable-dragging {
    opacity: 1;
}

.window_full.ui-draggable-dragging .window_content,
.window_full.ui-draggable-dragging .window_bottom {
    display: block;
}

.window_full {
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    width: 100%;
    height: 100%;
}

.window_full .ui-resizable-se {
    display: none;
}

.window_top {
    /*    background: #333 url(../images/gui/bar_bottom.png) repeat-x;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -webkit-background-clip: padding-box;
        color: #fff;
        font-weight: bold;
        overflow: hidden;
        line-height: 30px;
        padding: 0 10px;
        text-shadow: #000 0 1px 1px;
        height: 30px;*/
    /*    background: linear-gradient(to bottom, #e9e9e9 3%, #d8d8d8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-bottom: 2px solid #bdbcc1;
        box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.76) inset;
        overflow: hidden;
        padding: 7px 0;
        position: relative;*/
}

/*.window_top img {
    float: left;
    margin: 6px 5px 0 0;
}*/

/*.window_bottom {
    background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
    border-top: 1px solid #bbb;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-background-clip: padding-box;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-shadow: #fff 0 1px 1px;
    height: 20px;
      left: 1px;
      right: 1px;
      bottom: 1px;
    left: 0;
    right: 0;
    bottom: 0;
}*/

.window_inner {
    /*padding: 1px;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

/*.window_content {
    background: url(../images/gui/window_content.gif) repeat-y;
    line-height: 1.5;
    overflow: auto;
    top: 32px;
      left: 1px;
      right: 1px;
    left: 0;
    right: 0;
    bottom: 23px;
}*/

.window_full_content {
    line-height: 1.5;
    overflow: auto;
    top: 32px;
    /*  left: 1px;
      right: 1px;*/
    left: 0;
    right: 0;
    bottom: 23px;
}

.window_aside {
    float: left;
    font-size: 11px;
    padding: 10px 12px 10px 10px;
    width: 150px;
}

.window_main {
    background: #fff;
    margin: 0 0 0 173px;
    min-height: 100%;
}

.window_full .window_top,
.window_full .window_bottom {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
}

.window_full .window_inner {
    bottom: -1px;
}

/* `Table >> Data
----------------------------------------------------------------------------------------------------*/

table.data {
    /*width: 100%;*/
    white-space: nowrap;
/*    border-left: 1px solid rgb(224,224,224);
    border-right: 1px solid rgb(224,224,224);*/
}
.table-body {
    /*width: 100%;*/
    border-left: 1px solid rgb(224,224,224);
    border-right: 1px solid rgb(224,224,224);
}

table.data thead th {
    /*padding: 4px 8px;*/
    padding: 4px;
    vertical-align: middle;
}
table.data tbody td {
    /*padding: 3px;*/
    vertical-align: middle;
}
table.data tbody td input {
    width: 100%;
    height: 20px;
    background-color: transparent;
    border: 1px solid rgb(224,224,224);/*#bdbcc1;*/
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 4px;
    

/*    width: -moz-calc(100% - 0px);
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);*/
    width: 100%;
}
table.data tbody td input[readonly] {
    color: #707070;
}

table.data thead th {
    /*    background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;*/
    font-weight: bold;
    font-size: 13px;
    /*text-shadow: #fff 0 1px 1px;*/
    white-space: nowrap;



    background: rgb(249,249,249);
    background: -moz-linear-gradient(top, rgb(247,247,247) 3%, rgb(251,251,251) 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(3%, rgb(251,251,251)), color-stop(100%, rgb(251,251,251)));
    background: -webkit-linear-gradient(top, rgb(247,247,247) 3%, rgb(251,251,251) 100%);
    background: -o-linear-gradient(top, rgb(247,247,247) 3%, rgb(251,251,251) 100%);
    background: -ms-linear-gradient(top, rgb(247,247,247) 3%, rgb(251,251,251) 100%);
    background: linear-gradient(to bottom, rgb(247,247,247) 3%, rgb(251,251,251) 100%);
    border-left: 1px solid rgb(224,224,224);
    border-bottom: 1px solid rgb(199,199,199);
}

table.data thead th:first-child {
    border-left: 0;
}

table.data img {
    display: block;
}

table.data tbody tr:nth-child(even) td {
    background-color: rgb(245,245,245);
}

table.data tbody tr.active td {
    /*background: #06c url(../images/gui/bar_top_link.png) repeat-x;*/
    color: #fff;
    background-color: rgb(48,98,215);
}

table.data tbody tr.active td input {
    color: #fff;
}

table.data tbody tr:hover td,
table.data tbody tr:nth-child(even):hover td {
    background-color: rgb(106,148,253);
}

table.data tbody tr:hover td button {
    display: inline;
}

table.data tbody tr.deleted,
table.data tbody tr.deleted td input {
    color: #aaaaaa;
}

table.data tbody tr.dirty {
    background-color: #FFEF9B;
}

th.shrink {
    width: 1%;
}


table.data caption, 
.table-caption {
    padding: 7px 10px 5px;
    position:relative;
    background: #e6e4e6;
    background: -moz-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(0%, #e6e4e6), color-stop(100%, #cdccce));
    background: -webkit-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -o-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -ms-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: linear-gradient(to bottom, #e6e4e6 0%, #cdccce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e4e6', endColorstr='#cdccce', GradientType=0 ); 

    /*    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
        -moz-box-shadow:    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
        box-shadow:         inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);  */
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-background-clip: padding-box;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

    overflow:hidden;
    border-bottom:1px solid #a2a2a2; 
    text-align: center;
}

table.data tfoot tr, 
.table-footer {
    background: #e6e4e6;
    background: -moz-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(0%, #e4e4e4), color-stop(100%, #d9d9d9));
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -o-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -ms-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #e4e4e4 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d9d9d9', GradientType=0 ); 
    border-top: 1px solid #a2a2a2;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-background-clip: padding-box;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    line-height: 20px;
    overflow: hidden;
    /*text-shadow: #fff 0 1px 1px;*/
    height: 20px;
    /*      left: 1px;
          right: 1px;
          bottom: 1px;*/
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
}

table.data tfoot > tr > th > .left, 
.table-footer > .left {
    font-size: 11px;
    float: left;
    margin-right: 20px;
}

table.data tfoot > tr > th > .center, 
.table-footer > .center {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

table.data tfoot > tr > th > .right, 
.table-footer > .right {
    font-size: 11px;
    float: right;
}


/* `Bar >> Top + Bottom
----------------------------------------------------------------------------------------------------*/

#menubar,
#bar_bottom {
    /*    font-weight: bold;*/
    padding: 0 10px;
    font-size: 14px;
    left: 0;
    right: 0;
    background: none repeat scroll 0 0 rgba(235, 235, 235, 0.95);
}
#toolbar {
    /*font-weight: bold;*/
    padding: 0 10px;
    font-size: 14px;
    left: 0;
    right: 0;
}

#menubar {
    border-bottom: 1px solid rgba(46, 40, 64, 0.20);
    color: #999;
    line-height: 25px;
    padding-right: 20px;
    /*text-shadow: #fff 0 1px 1px;*/
    height: 25px;
    top: 0;
    /*box-shadow: 0 0 10px 0 rgba(46, 40, 64, 0.4);*/
}

#toolbar {
    /*background: #fff url(../images/gui/bar_top.png) repeat-x left bottom;*/
    background: none repeat scroll 0 0 rgba(235, 235, 235, 0.95);
    border-bottom: 1px solid rgba(46, 40, 64, 0.20);
    color: #999;
    line-height: 25px;
    padding-right: 20px;
    text-shadow: #fff 0 1px 1px;
    height: 35px;
    top: 26px;
}

#bar_bottom {
    /*background: #333 url(../images/gui/bar_bottom.png) repeat-x;*/
    border-top: 1px solid rgba(46, 40, 64, 0.20);
    color: #fff;
    /*font-size: 13px;*/
    line-height: 30px;
    opacity: 0.8;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    /*text-shadow: #000 0 1px 1px;*/
    height: 30px;
    bottom: 0;
    z-index: 50;
}

/* `Bar >> Links
----------------------------------------------------------------------------------------------------*/

#menubar li,
#bar_bottom li {
    float: left;
}

#toolbar li {
    float: left;
}

#menubar li a,
#bar_bottom li a {
    display: block;
    padding: 0 10px;
}

#toolbar li a {
    display: block;
    padding: 0 10px;
}

/*a.subpunkt {
  display: inline-block;
  width: 80%;
}*/
.punkt span.symbol, .submenu_trigger span.symbol, .subpunkt span.symbol {
    text-align: right;
    margin-left: 30px;
    display: block;
    float: right;
}

#menubar li a {
    /*    background-image: url(../images/gui/bar_top_link.png);
        background-repeat: no-repeat;
        background-position: -99999px -99999px;*/

    color: #000;
    overflow: hidden;
    height: 25px;
    min-height: 1px;
}

#toolbar li a {
    /*background-image: url(../images/gui/bar_top_link.png);*/
    background-repeat: no-repeat;
    background-position: -99999px -99999px;
    color: #000;
    overflow: hidden;
    height: 35px;
    min-height: 1px;
}

#menubar a.active {
    background-color: rgb(106,148,253);
    /*    background-position: 0 0;
        background-repeat: repeat-x;*/
    color: #fff;
    text-shadow: none;
}

#toolbar a:hover {
    background-color: rgb(106,148,253);
    /*    background-position: 0 0;
        background-repeat: repeat-x;*/
    color: #fff;
    text-shadow: none;
}

#menubar ul.menu, #menubar ul.submenu {
    /*background: #eee;*/
    background: none repeat scroll 0 0 rgba(235, 235, 235, 0.95);
    /*border: 1px solid #333;*/
    border-top-width: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-background-clip: padding-box;
    display: none;
    font-weight: normal;
    margin: 1px 0 0 -1px;
    /*padding: 1px 1px 0;*/
    position: absolute;
    min-width: 200px;
    z-index: 30;
    border: 1px solid rgba(46, 40, 64, 0.20);
    border-top: 0;
    box-shadow: 0 0 10px 0 rgba(46, 40, 64, 0.4);
}

#menubar ul.submenu {
    /*border: 1px solid #333;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    margin: -25px 0 0 199px;
    /*padding: 1px 1px 0;*/
    position: absolute;
    min-width: 200px;
    z-index: 50;
}

#menubar ul.menu li, #menubar ul.submenu li {
    float: none;
}

#menubar ul.menu a, #menubar ul.submenu a {
    /*background: none repeat scroll 0 0 rgba(235, 235, 235, 0.95);*/
    /*border-bottom: 1px solid #eee;*/
    min-width: 180px;
}

#menubar ul.menu a, #menubar ul.submenu:last-child a {
    border-bottom: 0;
}

#menubar ul.submenu a {
    /*background: #fff;*/
    /*border-top: 1px solid #eee;*/
    min-width: 180px;
}

#menubar ul.menu > li > ul.submenu > li a {
    border-radius: 0;
}
#menubar ul.menu > li:last-child a, #menubar ul.menu > li > ul.submenu > li:last-child a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-background-clip: padding-box;
}

#menubar ul.menu > li > ul.submenu > li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-background-clip: padding-box;
}

#menubar ul.menu a:hover, #menubar ul.submenu a:hover, #menubar a.submenu_trigger.active {
    background-color: rgb(79,127,249);
    color: #fff;
    text-shadow: none;
}

#bar_bottom li {
    display: none;
    margin: 0 0 10px 5px;
    /*min-width: 150px;*/
}

#bar_bottom li a {
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(3%, #E9E9E9), color-stop(100%, #d8d8d8));
    background: -webkit-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -o-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: -ms-linear-gradient(top, #E9E9E9 3%, #d8d8d8 100%);
    background: linear-gradient(to bottom, #E9E9E9 3%, #d8d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#d8d8d8', GradientType=0 ); 
    border: 1px solid rgba(46, 40, 64, 0.20);
}

#bar_bottom a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    color: rgb(128, 128, 128);
    overflow: hidden;
    /*padding: 0 10px;*/
    height: 30px;
}

#bar_bottom a:hover, #bar_bottom a:active {
    color: #000;
    background: -moz-linear-gradient(top, #d8d8d8 3%, #E9E9E9 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(3%, #d8d8d8), color-stop(100%, #E9E9E9));
    background: -webkit-linear-gradient(top, #d8d8d8 3%, #E9E9E9 100%);
    background: -o-linear-gradient(top, #d8d8d8 3%, #E9E9E9 100%);
    background: -ms-linear-gradient(top, #d8d8d8 3%, #E9E9E9 100%);
    background: linear-gradient(to bottom, #d8d8d8 3%, #E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#E9E9E9', GradientType=0 ); 
    border: 1px solid rgba(46, 40, 64, 0.20);
}

/*#bar_bottom a:active {
    background: #c60;
    border: 1px solid #fff;
    padding: 0 9px;
}*/

#bar_bottom li a img {
    float: left;
    margin: 4px 5px 0 -5px;
}

#bar_bottom .float_left img,
#bar_bottom .float_right img {
    display: block;
    padding: 3px;
}

/*a.submenu_trigger:after {
  content: '  >';
}*/

/* `Wrapper + Wallpaper + Desktop
----------------------------------------------------------------------------------------------------*/

#wallpaper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#desktop {
    background-color: #FFFFFF;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#content {
    /*background-color: #123456;*/
    overflow: hidden;
    margin-top:56px;
    padding: 10px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#window_area {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 700px;
    min-height: 500px;
}

#dock .resize_window,
#dock .minimize_window,
#dock .tofront_window {
    display: none;
}


.window {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
    box-shadow: 0 12px 20px rgba(0,0,0,.5);
    width: 800px;
    margin:auto;
    margin-top:26px;
    margin-bottom :41px;
    overflow:hidden;
    /*border:1px solid #C1C2C2;*/
    border-top:1px solid #f4f3f4;
    border-bottom:1px solid #d8d8d8;
}

.window_content {
    background:#fff;
    height: calc(100% - 40px - 17px);
    overflow: scroll;
    /*padding:10px;*/
}
.window_top {
    padding: 7px 10px 5px;
    position:relative;
    background: #e6e4e6;
    background: -moz-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(0%, #e6e4e6), color-stop(100%, #cdccce));
    background: -webkit-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -o-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: -ms-linear-gradient(top, #e6e4e6 0%, #cdccce 100%);
    background: linear-gradient(to bottom, #e6e4e6 0%, #cdccce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e4e6', endColorstr='#cdccce', GradientType=0 ); 

    /*    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
        -moz-box-shadow:    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
        box-shadow:         inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);  */

    overflow:hidden;
    border-bottom:1px solid #a2a2a2; 
}

/*.top > div {
    float:left;
}*/
.window_bottom {
    background: #e6e4e6;
    background: -moz-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -webkit-gradient(left top, left bottom,color-stop(0%, #e4e4e4), color-stop(100%, #d9d9d9));
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -o-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: -ms-linear-gradient(top, #e4e4e4 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, #e4e4e4 0%, #d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d9d9d9', GradientType=0 ); 
    border-top: 1px solid #a2a2a2;
    /*    border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        -moz-border-radius-bottomright: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-background-clip: padding-box;*/
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    line-height: 20px;
    overflow: hidden;
    /*text-shadow: #fff 0 1px 1px;*/
    height: 20px;
    /*      left: 1px;
          right: 1px;
          bottom: 1px;*/
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 15px 0 10px;
}

.window_bottom > .left{
    float: left;
    margin-right: 20px;
}

.window_bottom > .center{
    text-align: center;
    width: 100%;
}

.window_bottom > .right{
    float: right;
}


.window_controls {
    /*padding-right:9px;*/
    padding-top:2px;
    float: right;
}

.window_controls > span {
    display:inline-block;
    float:left;
    width:12px;
    height:12px;
    margin-right:7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
    cursor:pointer;

}

.window_min,
.window_resize,
.window_close {
    /*background: url(../images/gui/window_buttons.gif) no-repeat;*/
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    float: left;
    font-size: 0;
    margin: 4px 2px 0 7px;
    width: 11px;
    height: 11px;
}
.window_controls a.window_close {
    background: #FF6057;
    border: 1px solid #E14640;
}

.window_controls a.window_min {
    background: #FFBD2E;
    border: 1px solid #DFA123;
}

.window_controls a.window_resize {
    background: #27C93F;
    border: 1px solid #1DAD2B;
}
/*
.window_min:hover {
    background-position: 0 -15px;
}

.window_resize {
    background-position: -28px 0;
}

.window_resize:hover {
    background-position: -28px -15px;
}

.window_close {
    background-position: -56px 0;
}

.window_close:hover {
    background-position: -56px -15px;
    box-shadow: #f00 0 0 10px;
    -moz-box-shadow: #f00 0 0 10px;
    -webkit-box-shadow: #f00 0 0 10px;
}

.window_min:hover,
.window_resize:hover {
    box-shadow: #09f 0 0 10px;
    -moz-box-shadow: #09f 0 0 10px;
    -webkit-box-shadow: #09f 0 0 10px;
}*/
/*
.panel a.window_close {
    background:#FF5F4F;
}

.panel a.window_resize {
    background:#F9C206;
}

.panel a.window_min {
    background:#19CC32;
}*/


.nav {
    overflow:hidden;
}
.nav .panel,
.nav window_controls{
    z-index: 20;
}
.nav .titel {
    z-index: 10;
    text-align: center;
    /*font-size: 14px;*/
}

.nav .panel > button,
.nav .panel .buttonset > button,
button {
    display:inline-block;
    float:left;
    background:#FBFBFB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    height:23px;
    padding:0 8px;
    /*cursor:pointer;*/
    color:#707070;
    border: 0;
    border-bottom:1px solid #CECECE;
}

.nav .panel > button.inactive,
.nav .panel .buttonset > button.inactive,
button.inactive {
    color:#B4B4B4;
}
.nav .panel > button:hover,
.nav .panel .buttonset > button:hover,
button:hover {
    /*background:#f2f2f2;*/
    color:#111111;
}

.nav .panel > button:active,
.nav .panel .buttonset > button:active,
button:active {
    color:#707070;
    background:#f1f1f1;
}

.nav .panel > button.inactive,
.nav .panel .buttonset > button.inactive,
button.inactive,
.nav .panel > button:disabled,
.nav .panel .buttonset > button:disabled,
button:disabled,
.nav .panel > button[disabled='disabled'],
.nav .panel .buttonset > button[disabled='disabled'],
button[disabled='disabled'] {
    color:#B4B4B4;
    background:#FBFBFB;
}
.nav .panel > button i.fa,
.nav .panel .buttonset > button i.fa{
    font-size:13px;
    margin-top: -2px;
}

.nav .panel .buttonset > button,
.buttonset > button {
    margin-right:1px;
}

.nav .panel > button{
    margin-right:7px;
}

.nav .panel .buttonset > button,
.buttonset > button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav .panel .buttonset > button:first-child,
.buttonset > button:first-child {
    border-radius: 4px 0 0 4px;
}
.nav .panel .buttonset > button:last-child,
.buttonset > button:last-child {
    border-radius: 0 4px 4px 0;
    margin-right:7px;
}
.nav .panel .buttonset > button:only-child,
.buttonset > button:only-child {
    border-radius: 4px;
}

.nav .panel button.set i {
    font-size:14px;
    position:relative;
    top:3px;
}

tr td button {
    display: none;
}

tr:hover td button {
    display: inline-block;
}

.nav .panel span.address {
    width:400px;
    margin-left:75px;
    display:inline-block;
    background:#fff;
    line-height:23px;
    padding:0;
    text-align:center;
    position:relative;
}
.nav .panel span.address > input {
    font-size:12px;
    color:#505050;
    border:none;
    background:none;
    text-align:center;
    position:relative;
    width:300px;
}

.nav .panel span.address > input:focus {
    outline:none;
}

.nav .panel span.address > input.class {
    text-align:left;
}



.nav .panel span.address > i.fa {
    position:absolute;
    right:5px;
    top:7px;
    font-size:11px;
    color:#010101;
}

.nav.right {
    float:right !important;
    margin-right:35px;
}

.nav .panel span.share {
    margin-right:7px;
}
.nav .panel span.share > i.fa {
    font-size:11px;
    position:relative;
    top:2px;
}

.nav span.tabs {
    position:relative;
    width:26px;
    padding:0;
}

.nav span.tabs span {
    height:7px;
    width:7px;
    border:1px solid #B4B4B4;
    display:inline-block;
    position:absolute;
    background:#FBFBFB;
}

.nav span.tabs span.front {
    top:8px;
    left:6px;
    z-index:6;
}

.nav span.tabs span.behind {
    top:6px;
    left:8px;
    z-index:5;
}

.nav span.tabs:hover span {
    border:1px solid #666;
}

span.new {
    cursor:pointer;
    position:absolute;
    right:0;
    bottom:0;
    background:#CACACA;
    width:23px;
    height:23px;
    text-align:center;
    line-height:23px;
    border-top:1px solid #C1C2C2;
    border-left:1px solid #C1C2C2;
}

span.new:hover {
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
span.new .plus {
    position:absolute;
    background:#b0b0b0;
    display:inline-block;
}

span.new .plus.x {
    height:1px;
    width:14px;
    top:12px;
    right:0;
    left:0;
    margin:auto;
} 

span.new .plus.y {
    height:14px;
    width:1px;
    bottom:0;
    top:0;
    margin:auto;

}

span.id {
    display: none;
}